<BODY bgcolor="TAN">
<TABLE border="0" cellPadding="2" cellSpacing="0">
<TR>
  <TD>
    <FORM name=Form1 action="{$PHP_SELF}" method=POST>
      Name : <SELECT name=cboName onChange="document.Form1.submit();">
            {section name=sec1 loop=$i}
            <OPTION value={$resuId[sec1]} {$SELECTED[sec1]}>
            {$resuName[sec1]}
            </OPTION>
            {/section}
            </SELECT>
    </FORM>
  </TD>
  <TD vAlign="top">
    <A href="selectDtSession.php?goTo=accTransOtherList">Date range</A> : {$fromDate} To : {$toDate}
  </TD>
</TR>
</TABLE>
  <TABLE BORDER=1 cellspacing="0" cellpadding="2">
  <TR>
    <TH colspan="8">&nbsp;</TH>
    <TH>&nbsp;</TH>
    <TH colspan="3" align="center">Total</TH>
  </TR>
  <TR>
    <TD ALIGN="center">Delete</TD>
    <TD ALIGN="center">
    <B>  Date</B>
    </TD>
    <TD align="center">
    <B>Transaction Type</B>
    </TD>
    <TD ALIGN="center">
    <B> &nbsp; </B>
    </TD>
    <TD ALIGN="center">
      <B>Received </B>
    </TD>
    <TD ALIGN="center">
    <B>Given</B>
    </TD>
    <TD ALIGN="center">
      <B>Profit</B>
    </TD>
    <TD ALIGN="center">
      <B>Loss</B>
    </TD>
    <TD ALIGN="center" >
      <B>&nbsp;</B>
    </TD>
    <TD ALIGN="center">
      <B>Margin</B>
    </TD>
<!--    <TD ALIGN="center">
    <B>Other</B>
    </TD>
    <TD ALIGN="center">
      <B>Profit</B>
    </TD>
    <TD ALIGN="center">
      <B>Loss</B>
    </TD>
    <TD>&nbsp;</TD>-->
    <TD ALIGN="center" >
      <B>Balance</B>
    </TD>
  </TR>
  <TR>
      {section name=sec2 loop=$k}
        <TD align=center><A onclick="return confirm('Are you sure?');" 
          href="accCashFlowDelete.php?cashFlowId={$cashFlowId[sec2]}">Delete</A></TD>
        <TD align=center NOWRAP>{$reportDate[sec2]}</TD>
        <TD align=center>{$transType[sec2]}</TD>
        <TD align=center NOWRAP>{$itemIdExpiryDate[sec2]}</TD>
         
        <TD align=center NOWRAP> {$reportdwAmount1[sec2]}</TD>
        <TD align=center NOWRAP> {$reportdwAmount2[sec2]}</TD>
         
        <TD align=center NOWRAP>{$reportplAmount1[sec2]}</TD>
        <TD align=center NOWRAP>{$reportplAmount2[sec2]}</TD>
        
          <TD align=center><B>&nbsp;</B></TD>
          <TD align=center NOWRAP><B>{$totMargin[sec2]}</B></TD>
          <!--<TD align=center NOWRAP><B>{$totOther[sec2]}</B></TD>
          <TD align=center NOWRAP><B>{$totProfit[sec2]}</B></TD>
          <TD align=center NOWRAP><B>{$totLoss[sec2]}</B></TD>-->
          <TD align=center NOWRAP><B>{$totWithoutMargin[sec2]}</B></TD>
          <TD align=center NOWRAP><B>{$reportcurrentBal[sec2]}</B></TD>
          </TR>
     {/section}
     
     
  </TABLE>
</BODY>