<A href="index.php">Home</A>&nbsp;&nbsp;
<A href="mnuAccount.php">Menu</A>
<BODY>
<FORM name=Form1 action="{$PHP_SELF}" method=POST>
<TABLE border="0" cellPadding="2" cellSpacing="0">
<TR>
 	<TD>&nbsp;&nbsp;Transaction In&nbsp;</TD>
 	<TD><select name="transModeOpt" onChange="document.Form1.submit();">
        <OPTION value='All' {$all}>All </OPTION>
        {section name=sec loop=$bankId}
        {html_options values=$bankId[sec] output=$bank[sec] selected=$selectBankId}
        <!--<OPTION value={$bankId[sec]} {$selectBankId}>
        {$bank[sec]}
        </OPTION>-->
        {/section}
    </select>
  </Td>
</TR>
</TABLE>
</FORM>
  <TABLE BORDER=1 cellspacing="0" cellpadding="3">
  <TR>
    <TH colspan="7">&nbsp;</TH>
  </TR>
  <TR>
    <TD ALIGN="center">Delete</TD>
    <TD ALIGN="center">
    <B>  Date</B>
    <TD align="center">
    <B>Transaction Type</B>
    </TD>
    <TD ALIGN="center">
    <B> Note </B>
    </TD>
      <TD ALIGN="center">
        <B>! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Credit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; !</B>
      </TD>
      <TD ALIGN="center" NOWRAP>
        <B>! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Debit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; !</B>
      </TD>
      <TD><B>Total</B></TD>
  </TR>
    {section name=sec2 loop=$mode}
      <TR>
        <TD>
          <A onclick="return confirm('Are you sure?');"
          href="accCashFlowDelete.php?expBnk={$cashFlowId[sec2]}">Delete</A>
        </TD>
        <TD NOWRAP>{$date[sec2]}</TD>
        <TD NOWRAP>{$transType[sec2]}</TD>
        <TD>&nbsp; {$notes[sec2]}</TD>
          <TD NOWRAP align="right">&nbsp;{$selectedModd[sec2]}</TD>
          <TD NOWRAP align="right">&nbsp; {$selectedModw[sec2]}</TD>
        <TD><B>&nbsp;{$totalAmountToDisp[sec2]}</B></TD>
      </TR>
    {/section}
    {section name=sec3 loop=$otherExpAmount}
      <TR>
        <TD>
            <A onclick="return confirm('Are you sure?');"
            href="accCashFlowDelete.php?exp={$otherexpId[sec3]}">Delete</A>
        </TD>
        <TD NOWRAP>{$otherExpDate[sec3]}</TD>
        <TD NOWRAP>Expences : {$otherExpName[sec3]}</TD>
        <TD>&nbsp;{$otherExpNotes[sec3]}</TD>
          <TD NOWRAP align="right">&nbsp; </TD>
          <TD NOWRAP align="right">&nbsp; {$otherExpAmount[sec3]}</TD>
        <TD><B>&nbsp;{$totalExpToDisp[sec3]}</B></TD>
      </TR>
    {/section}

  </TABLE>
</BODY>