<HTML>
<HEAD><TITLE>Om !!!</TITLE>
  <STYLE src="./templates/styles.css"></STYLE>
</HEAD>
<BODY bgColor="TAN" onLoad="document.form1.txtExpName.focus();">
	<FORM name="form1" action="clientToClient.php" method="POST">
	<TABLE>
    <TR>
      <TD>From Client</TD>
      <TD>
      	<select name="client1">
      		{html_options values="$clientId" output="$name"}
      	</select>
      </TD>
    </TR>
    <TR>
      <TD>To Client</TD>
      <TD>
      	<select name="client2">
      		{html_options values="$clientId" output="$name"}
      	</select>
      </TD>
    </TR>
    <TR>
      <TD>Date</TD>
      <TD>{html_select_date prefix="clientDate" start_year="+2" end_year="-2" field_order="dmy"}</TD>
    </TR>
    <TR>
      <TD>Amount</TD>
      <TD><INPUT type="text" name="txtAmount"></TD>
    </TR>
    <TR>
      <TD>Notes</TD>
      <TD><INPUT type="text" name="itemIdExpiryDate"></TD>
    </TR>    
    <TR>
    	<TD></TD>
    	<TD><INPUT type="submit" name="btnSubmit" value="Go !!"></TD>
    </TR>
    	
  </TABLE>
</FORM>
</BODY>
</HTML>