<BODY bgcolor="TAN">
<FORM name="form1" action="{$PHP_SELF}" method=POST>
  <TABLE>
    <TR>
      <TD>Name</TD>
      <TD><SELECT name = "cboName">
            {section name=sec1 loop=$i}
              <OPTION value={$clId[sec1]}>
                {$fName[sec1]}
              </OPTION>
            {/section}
        </SELECT></TD>
    </TR>
    <TR>
      <TD>Date</TD>
      <TD> {html_select_date prefix="entryDate" start_year=1990 end_year=2025 day_format="%02d" month_format="%b" field_order="DMY"}</TD>
    </TR>
   <TR>
     <TD><INPUT type="radio" name="r1" value="d" checked>Deposite
         <INPUT type="radio" name="r1" value="w">Withdraw</TD>
     <TD><INPUT type="text" name="txtdwAmount"></TD>
   </TR>
    <TR>
      <TD><INPUT type=submit value="Submit Me">
         <INPUT type=reset value="Reset"></TD>
   </TR>
 </TABLE>
<A href="accountReport.php">Report</A>
</FORM>      
</BODY>