{include file="headerMain.tpl"}
<B>Login & feel a great experience !!!</B>
<BR>
<BR>
<FONT color="red">{$message}</FONT>
<FORM name="form1" action="{$PHP_SELF}" method="POST">
User Name : <INPUT type="text" name="user">&nbsp;&nbsp;&nbsp;&nbsp;
Password  : <INPUT type="password" name="password">&nbsp;&nbsp;&nbsp;&nbsp;
<BR>
<BR>
<INPUT type="submit" name="submitBtn" value="Let Me Enter !">
<SCRIPT language="JavaScript">
  document.form1.user.focus();
</SCRIPT>
</FORM>
{include file="footer1.tpl"}
