<HTML>
<BODY>
<A href="./index.php">Home</A>
<FORM name="form1" action="{$PHP_SELF}" method="POST">
<TABLE border="0" cellpadding="0" cellspacing="2">
{section name="sec1" loop="$settingsArray"}
<TR>
  <TD align="right">{$settingsArray[sec1].settingsKey} : </TD>
  <TD><INPUT type="text" name="settingsText[{$settingsArray[sec1].settingsKey}]" value="{$settingsArray[sec1].value}"><TD>
</TR>
{/section}
<TR>
  <TD><INPUT type="submit" name="submitBtn" value="Submit !"></TD>
  <TD>&nbsp;</TD>
</TR>
</TABLE>
</FORM>
<A href="./index.php">Home</A>
</BODY>
</HTML>
