<HTML>
<HEAD><TITLE>Om !!! Standing Detail</TITLE>
{literal}
<script src="./js/jquery.min.js"></script>
<SCRIPT language = "javascript">
function confirmedCheckbox()
{
  
  if($("#checkAll").is(':checked') == 1)
  {
    $(".confirmed").attr('checked', true);
  }
  else
    $(".confirmed").attr('checked', false);
}
function conf(standingId)
{
	if(confirm("Are You Sure You want to Delete Record?"))
			location.href="standingDelete.php?standingId="+standingId;
}
</SCRIPT>
{/literal}
</HEAD>
<BODY>
<A href="./index.php">Home</A>
<A href="./standing.php">Standing Add</A>
<FORM name="form1" method="post" action="standingDelete.php">
</br></br>
Check All : <input type="checkbox" name="checkAll" id="checkAll" onClick="confirmedCheckbox();"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Delete Selected : <input type="submit" name="Delete" id="Delete">
</br></br>
<TABLE BORDER=1 cellPadding="2" cellSpacing="0">
  <TR>
    <TH>DELETE</TH>
    <TH>Standing Closing Date</TH>
    <TH>Item</TH>
    <TH>Price</TH>
    <TH>Standing Openening Date</TH>
  </TR>

  {section name=sec1 loop=$i}
    <TR>
      <!--<TD align="center"><A href="javascript: conf({$standingId[sec1]});">Delete</A></TD>-->
	  <TD align="center"><input type="checkbox" name="check_list[]" id="confirmed[{$standingId[sec1]}]" class="confirmed" value="{$standingId[sec1]}">
</TD>
      <TD align="center">{$standingDtCurrent[sec1]}</TD>
      <TD>{$itemExpiryDate[sec1]}</TD>
      <TD align="Right">{$standingPrice[sec1]}</TD>
      <TD align="center">{$standingDtNext[sec1]}</TD>
    </TR>
  {/section}
</TABLE>
</FORM>
</BODY>
</HTML>