<div id="client">
<HTML>
<HEAD><TITLE>Om !!! Add Trade</TITLE>
<SCRIPT language="javascript">
{literal}
window.name = 'displayAll';

function changeName()
{
  document.form1.clientId.value = "clientId";
  document.form1.submit();
}
function changeItem()
{
  document.form1.changedField.value = "itemId";
  document.form1.submit();
}

function changePrice()
{
  var price;
  price = parseFloat(document.form1.price.value);
  if(parseFloat(price) || price==0)   //parseFloat does not consider 0, so we have put 0 in or condition
  {
    if(event.keyCode==38)
      price=price+1;
    if(event.keyCode==33)
      price=price+10;
    if(event.keyCode==40)
      price=price-1;
    if(event.keyCode==34)
      price=price-10;
    if(document.form1.price.value != price)
      document.form1.price.value = price;
  }
}
function itemFromPrice()
{
  var price;
  price = parseFloat(document.form1.price.value);
{/literal}
{$itemFromPriceJS}
{literal}
}

function changeQty()
{
  {/literal}
  var minQty = {$minQty};
  {literal}
  var qty;
  qty = parseFloat(document.form1.qty.value);
  if(parseFloat(qty) || qty==0)   //parseFloat does not consider 0, so we have put 0 in or condition
  {
    if(event.keyCode==38)
      qty=qty+minQty;
    if(event.keyCode==33)
      qty=qty+minQty*5;
    if(event.keyCode==40)
      qty=qty-minQty;
    if(event.keyCode==34)
      qty=qty-minQty*5;
    if(document.form1.qty.value != qty)
      document.form1.qty.value = qty;
  }
}
function changeBuySale()
{
  if(event.keyCode == 119)
    document.form1.buySell.value = "Buy";
  if(event.keyCode == 120)    
    document.form1.buySell.value = "Sell";
}
{/literal}


// ajax for data insert : Start
  {literal}      
	function handleHttpResponse()
	{   
		if (http.readyState == 4 || http.readyState == 'complete') 
		{
			if(http.status==200) 
			{
				var results=http.responseText;
				document.getElementById('client').innerHTML = results;
			}
		}
	}

	  // Start Using Post Method.
  	function example2()
		{
			var sIdexchange = document.getElementById("exchange").value;
			var sIdclientId = document.getElementById("clientId").value;
			var sIdprice = document.getElementById("price").value;
			var sIditemId = document.getElementById("itemId").value;
			var sIdexpiryDate = document.getElementById("expiryDate").value;
			var sIdbuySell = document.getElementById("buySell").value;
			var sIdqty = document.getElementById("qty").value;
			var sIdclientId2 = document.getElementById("clientId2").value;
			var sIdclient2price = document.getElementById("client2price").value;
			var sIdTrade = document.getElementById("Trade").value;
			
			var url = "tradeAdd9AjaxNew.php";
			var params = "exchange="+escape(sIdexchange)
		              +"&clientId="+escape(sIdclientId)
		              +"&price="+escape(sIdprice)
		              +"&itemId="+escape(sIditemId)
		              +"&expiryDate="+escape(sIdexpiryDate)
		              +"&buySell="+escape(sIdbuySell)
		              +"&qty="+escape(sIdqty)
		              +"&clientId2="+escape(sIdclientId2)
		              +"&client2price="+escape(sIdclient2price)
		              +"&Trade="+escape(sIdTrade);
		  http.open("POST", url, true);
			
			//Send the proper header information along with the request
			http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			http.setRequestHeader("Content-length", params.length);
			http.setRequestHeader("Connection", "close");
			http.send(params);
			http.onreadystatechange = handleHttpResponse;

			var sIdprice = document.getElementById("price").value = "";
			var sIdclient2price = document.getElementById("client2price").value = "";
		}
	// End Using Post Method.	
		function getHTTPObject() 
		{	  var xmlhttp;
			  if(window.XMLHttpRequest)
			  {	xmlhttp = new XMLHttpRequest(); }
  			  else if (window.ActiveXObject)
			  {		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    		   		if (!xmlhttp) {
        				xmlhttp=new ActiveXObject("Msxml2.XMLHTTP"); }
			  }
   		  return xmlhttp;
		}
	{/literal}
	var http = getHTTPObject(); // We create the HTTP Object
	
  {literal}      
	function handleHttpResponse()
	{   
		if (http.readyState == 4 || http.readyState == 'complete') 
		{
			if(http.status==200) 
			{
				var results=http.responseText;
				document.getElementById('client').innerHTML = results;
			}
		}
	}
   
	  // Start Using Post Method.
  	function example1()
		{
			var sIdexchange = document.getElementById("exchange").value;
			var sIdclientId = document.getElementById("clientId").value;
			var sIdprice = document.getElementById("price").value;
			var sIditemId = document.getElementById("itemId").value;
			var sIdexpiryDate = document.getElementById("expiryDate").value;
			var sIdbuySell = document.getElementById("buySell").value;
			var sIdqty = document.getElementById("qty").value;
			var sIdclientId2 = document.getElementById("clientId2").value;
			var sIdclient2price = document.getElementById("client2price").value;
			var sIdSL = document.getElementById("SL").value;
			
			var url = "tradeAdd9AjaxNew.php";
			var params = "exchange="+escape(sIdexchange)
		              +"&clientId="+escape(sIdclientId)
		              +"&price="+escape(sIdprice)
		              +"&itemId="+escape(sIditemId)
		              +"&expiryDate="+escape(sIdexpiryDate)
		              +"&buySell="+escape(sIdbuySell)
		              +"&qty="+escape(sIdqty)
		              +"&clientId2="+escape(sIdclientId2)
		              +"&client2price="+escape(sIdclient2price)
		              +"&SlBtn="+escape(sIdSL);
		  http.open("POST", url, true);
			
			//Send the proper header information along with the request
			http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			http.setRequestHeader("Content-length", params.length);
			http.setRequestHeader("Connection", "close");
			http.send(params);
			http.onreadystatechange = handleHttpResponse;

			var sIdprice = document.getElementById("price").value = "";
			var sIdclient2price = document.getElementById("client2price").value = "";
		}
	// End Using Post Method.	
		function getHTTPObject() 
		{	  var xmlhttp;
			  if(window.XMLHttpRequest)
			  {	xmlhttp = new XMLHttpRequest(); }
  			  else if (window.ActiveXObject)
			  {		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    		   		if (!xmlhttp) {
        				xmlhttp=new ActiveXObject("Msxml2.XMLHTTP"); }
			  }
   		  return xmlhttp;
		}
	{/literal}
	var http = getHTTPObject(); // We create the HTTP Object
	
  {literal}      
	function handleHttpResponse()
	{   
		if (http.readyState == 4 || http.readyState == 'complete') 
		{
			if(http.status==200) 
			{
				var results=http.responseText;
				document.getElementById('client').innerHTML = results;
			}
		}
	}
   
	// Start Using Post Method.
  	function example()
		{
			var sIdexchange = document.getElementById("exchange").value;
			var sIdclientId = document.getElementById("clientId").value;
			var sIdprice = document.getElementById("price").value;
			var sIditemId = document.getElementById("itemId").value;
			var sIdexpiryDate = document.getElementById("expiryDate").value;
			var sIdbuySell = document.getElementById("buySell").value;
			var sIdqty = document.getElementById("qty").value;
			var sIdclientId2 = document.getElementById("clientId2").value;
			var sIdclient2price = document.getElementById("client2price").value;
			var sIdRL = document.getElementById("RL").value;
			
			var url = "tradeAdd9AjaxNew.php";
			var params = "exchange="+escape(sIdexchange)
		              +"&clientId="+escape(sIdclientId)
		              +"&price="+escape(sIdprice)
		              +"&itemId="+escape(sIditemId)
		              +"&expiryDate="+escape(sIdexpiryDate)
		              +"&buySell="+escape(sIdbuySell)
		              +"&qty="+escape(sIdqty)
		              +"&clientId2="+escape(sIdclientId2)
		              +"&client2price="+escape(sIdclient2price)
		              +"&RlBtn="+escape(sIdRL);
			http.open("POST", url, true);
			
			//Send the proper header information along with the request
			http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			http.setRequestHeader("Content-length", params.length);
			http.setRequestHeader("Connection", "close");
			http.send(params);
			http.onreadystatechange = handleHttpResponse;
			var sIdprice = document.getElementById("price").value = "";
			var sIdclient2price = document.getElementById("client2price").value = "";
		}
	// End Using Post Method.	
		function getHTTPObject() 
		{	  var xmlhttp;
			  if(window.XMLHttpRequest)
			  {	xmlhttp = new XMLHttpRequest(); }
  			  else if (window.ActiveXObject)
			  {		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    		   		if (!xmlhttp) {
        				xmlhttp=new ActiveXObject("Msxml2.XMLHTTP"); }
			  }
			  
     		  return xmlhttp;
		}{/literal}
	var http = getHTTPObject(); // We create the HTTP Object
// ajax for data insert : End
</SCRIPT>
</HEAD>
{literal}
<BODY bgColor="#FFFF80" onKeyDown="if(event.keyCode==10){ document.form1.makeTrade.value=1; document.form1.submit();} changeBuySale();">
{/literal}
  <FORM name="form1" action="{$PHP_SELF}" METHOD="post">
  <TABLE BORDER=1 width="100%" cellPadding="2" cellSpacing="0">
  <TR>
    <input type="hidden" name="changedField" id="changedField" value="0">
    <TD>
      <SELECT name="exchange" id="exchange">
      {html_options selected="$exchangeSelected" values="$exchangeValues" output="$exchangeOutput"}
      </SELECT>
      <SELECT name="clientId" id="clientId">
      {html_options selected="$clientIdSelected" values="$clientIdValues" output="$clientIdOutput" }
      </SELECT>
    </TD>
    <TD>Date : 
      {html_select_date time="$tradeDateDisplay" prefix="trade" start_year="-1" end_year="+1" month_format="%m" field_order="DMY" day_value_format="%02d"}
    </TD>
    <TD colspan="2" NOWRAP>
      Price : <INPUT size="10" type="text" name="price" id="price" value="{$lastPrice}" onKeydown="changePrice();" onBlur="itemFromPrice();">&nbsp;&nbsp;&nbsp;
    </TD>
  </TR>   
  <TR>
    <TD>
      <SELECT name="itemId" id="itemId" onChange="changeItem();">
      {html_options selected="$itemIdSelected" values="$itemIdValues" output="$itemIdOutput"}
      </SELECT>
      &nbsp;&nbsp;
      <SELECT name="expiryDate" id="expiryDate">
      {html_options selected="$expiryDateSelected" values="$expiryDateValues" output="$expiryDateOutput"}
      </SELECT>
      &nbsp;&nbsp;&nbsp;
      <INPUT type="text" name="buySell" id="buySell" value="Buy" size="8">
      </TD>
    <TD>
      Quantity : <INPUT type="text" name="qty" id="qty" value="{$minQty}" onKeyDown="changeQty();">&nbsp;&nbsp;&nbsp;
    </TD>
    <TD colspan="2">
    &nbsp;
    </TD>
  </TR>
  <TR>
    <TD colspan="3">
    	Client 2 : 
      <SELECT name="clientId2" id="clientId2">
      {html_options selected="$clientId2Selected" values="$clientId2Values" output="$clientId2Output" }
      </SELECT>
      client2price : 
      <INPUT type="text" name="client2price" id="client2price">
    </TD>
  </TR>
  <TR>
    <TD colspan="4">
      <INPUT type="button" name="RL" id="RL" value="RL" onClick="example();">
      <INPUT type="button" name="SL" id="SL" value="SL" onClick="example1();">
      <INPUT type="button" name="Trade" id="Trade" value="Trade" onClick="example2();">
       &nbsp;&nbsp;&nbsp;&nbsp;<B>Ctrl + Enter to Store
       |||| {$clientWholeName} : </B>
       Deposit : {$deposit}&nbsp;&nbsp;&nbsp;&nbsp;
       CurrentBal : {$currentBal}&nbsp;&nbsp;&nbsp;&nbsp;
       Total : {$total}&nbsp;&nbsp;&nbsp;&nbsp;
      ho Pne   : {$phone}&nbsp;&nbsp;&nbsp;&nbsp;
       Mobile  : {$mobile}&nbsp;
    </TD>
  </TR>
  <TR>
    <TD colspan="4"><B>Last trade : </B>{$lastTradeInfoVar}
    </TD>
  </TR>
  </TABLE>
  {$focusScript}
  </FORM>
</BODY>
</HTML>
</div>